body {
    background: linear-gradient(to bottom, rgba(100, 153, 233, 1), rgba(158, 221, 255, 1), rgba(166, 246, 255, 1));
}

h1 {
    font-family: impact;
    font-size: 40px;
    background: linear-gradient(to right, rgb(114, 131, 211), rgba(142, 167, 233, 1), rgb(228, 224, 255), rgb(255, 242, 242));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 2px, 2px, 3px, rgba(255, 242, 242, 0.8);
    margin-bottom: -10px;
}

a {
    text-decoration: none;
    color: black;
    padding: 2px;
    font-family: sans-serif;
}

a:hover {
    color: navy;
    border: none;
    outline: solid green 1px;
    border-radius: 5px;
}

a:active {
    color: rgba(0, 0, blue, 1);
    background: whitesmoke;
    border: none;
    outline: none;
}