body {
    background: linear-gradient(to bottom, rgba(100, 153, 233, 1), rgba(158, 221, 255, 1), rgba(166, 246, 255, 1));
}

#table {
    width: 80%;
    margin: 30px auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    min-width: 200px;
    padding-right: 0;
    background: rgba(82, 109, 130, 0.8);
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.6)
}

#header {
    margin: 0 auto;
    text-align: center;
}

#start-time, #stop-time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#start-time {
    margin-bottom: -27px;
}

#stop-time {
    margin-bottom: -15px;
}

.days {
    border-bottom: solid silver 2px;
    border-width: 1px;
    margin: 20px 0;
}

.time {
    text-align: center;
    text-wrap: wrap;
    padding: 0 3px;
    border-right: solid silver 2px;
}

p:last-child {
    border-right: none;
}

p:nth-child(2) {
    border-left: solid silver 2px;
}

#study-days {
    text-transform: capitalize;
    color: rgba(228, 224, 255, 0.8);
}

h1 {
    font-family: impact;
    font-size: 40px;
    background: linear-gradient(to right, rgb(114, 131, 211), rgba(142, 167, 233, 1), rgb(228, 224, 255), rgb(255, 242, 242));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 2px, 2px, 3px, rgba(255, 242, 242, 0.8);
    margin-bottom: -10px;
}

#Est {
    font-family: sans-serif, Helvetica, Arial;
    font-style: italic;
    border-bottom: dotted silver 2px;
    border-left: none;
}

#study-days p + p {
    border-left: none;
}

#start {
    margin-right: 35px;
    text-transform: capitalize;
    color: rgba(228, 224, 255, 0.8);
}

#stop {
    margin-right: 36.5px;
    text-transform: capitalize;
    color: rgba(228, 224, 255, 0.8);
}

#next {
    text-align: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
    padding: 2px;
    font-family: sans-serif;
}

a:hover {
    color: navy;
    border: none;
    outline: solid green 1px;
    border-radius: 5px;
}

a:active {
    color: rgba(0, 0, blue, 1);
    background: whitesmoke;
    border: none;
    outline: none;
}